.y-frame {
  position: absolute;
}

.y-frame:hover{
  z-index: 2;
}

.y-frame iframe {
  transform-origin: top left;
}

.handle {
  cursor: move;
  display: none;
  position: absolute;
}

.y-frame:hover .handle {
  display: block;
}

.handle.handling::after {
  display: block;
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -50vw;
  top: -50vh;
}

.y-frame:hover .drag.handle {
  width: 60px;
  height: 20px;
  background: red;
  left: 0;
  bottom: 0;
}

.y-frame:hover .resize.handle {
  height: 40px;
  width: 40px;
  background: blue;
  right: 0;
  bottom: 0;
}

.y-frame:hover .zoom.handle {
  width: 20px;
  height: 60px;
  background: green;
  right: 0;
  bottom: 40px;
}